@import '../abstract/variaveis';

#curiosidades {
    padding: 1rem;
    text-align: center;
    margin: 5px;
    h3 {
        color: $cor-primaria;
        font-size: $tamanho-do-texto / 2.5;
        text-transform: uppercase;
    }
    h4 {
        color: $cor-secundaria;
        font-size: $tamanho-do-texto / 2.2;
        margin: 7px;
    }
    p {
        margin-top: 5px;
        color: $cor-primaria;
    }
}
