// Fontes
$fonte: 'Roboto', sans-serif;

// Cores
$cor-primaria: #65451F;
$cor-secundaria: #C8AE7D;
$cor-terciaria: #EAC696;
$cor-quaternaria: #765827;

// Tamanho das fontes
$tamanho-do-texto: 3rem;